/* CSS positionning rules */
.controlPanel {
	position:absolute;
	left:1.5em;
	bottom:0px;
	height:15%;
	width:90%;
	z-index:10;
}
.row1 {
	position:absolute;
	left:0%;
	bottom:26%;
	height:48%;
	width:16%;
}
.row2a {
	position:absolute;
	left:16%;
	bottom:51%;
	height:48%;
	width:16%;
}
.row2b {
	position:absolute;
	left:16%;
	bottom:1%;
	height:48%;
	width:16%;
}
.row3 {
	position:absolute;
	left:32%;
	bottom:26%;
	height:48%;
	width:16%;
}
.row4 {
	position:absolute;
	left:48%;
	bottom:26%;
	height:48%;
	width:16%;
}
.row5 {
	position:absolute;
	left:64%;
	bottom:26%;
	height:48%;
	width:16%;
}
.row6 {
	position:absolute;
	left:80%;
	bottom:26%;
	height:48%;
	width:16%;
}